/*CSS RESET COAD*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*MY CODE STARTS HERE*/

@@font-face {
  src: url(font/NinjaStrike.otf);
  font-family: NinjaStrike;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #eee;
}


/*HEADER SECTION*/
header {

  background-color: #fff;
  width: 100%;
  height: 200px;
  }

header .header-brand {
  font-family: NinjaStrike;
  font-size: 50px;
  color: #111;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #111;
}

header nav ul li a:hover {
  color: red;
}


/*WEBSITE MOBILE DISPLAY*/
@media only screen and (min-width: 1000px){
  header {
    height: 100px;
  }
    header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0 10px 0px 40px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul {
    margin: 20px 0px 0px 20px;
    float:left;
  }

  header nav ul li a {
    line-height: 60px
  }

  .column {
    width: 100%;
  }
}


/*VIDEO BANNER ON INDEX HTML*/
video {
  width: 100%;
  padding-bottom: 0px;
}



/*TITLE HEADER*/
main .index-body-one {
  background-color: #000;
  width: 100%;
  height: 70px;
  padding-bottom: 40px;
  display: block;
}

.index-body-one {
  font-family: NinjaStrike;
  font-size: 50px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 0px 16px;
  min-height: 3em;
  display: table-cell;
  vertical-align: middle
}

/*NINJA PAGE HEADER TITLES*/

.title-page-text {
    background-color: #000;
    width: 100%;
    height: 70px;
    padding-bottom: 40px;

    font-family: NinjaStrike;
    font-size: 30px;
    color: #fff;
    display: block;
    margin: 0 0% 0 -5%;
    text-align: center;
    padding: 0px 20 0px 20;
}


.text-wrapper {
padding: 60px 60px 60px 60px;
margin: 0, auto;

}

.ninja-links div {
  float: left;
  width: 240px;
  height: 240px;
  background-color: #e3e3e3;
}

.body-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000;
  }

.body-text-bold {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

/*SUBSCRIPTION POP UP*/
#list-builder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: alpha(opacity=80);
	opacity: 0.8;
    display: none;
}

#popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #911e26;
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border: 10px solid #FFFFFF;
    display: none;
}

#popup-close {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    width: 40px;
}

#popup-box h1 {
    margin: 0;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 10px;
    border: 1px solid #333;
    width: 40%;
}

#popup-box button {
    padding: 10px;
    border: 1px solid #333;
}

.pop-up-text {
  text-align: center;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.popup-sub {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.popup-sub1 {
  text-align: center;
  font-family: NinjaStrike;
  color: #fff;
  font-size: 24px;
}


/*BLURB INTRO ON ALL PAGES*/
.blurb-bg {
  background-color: #EB817A;
  }

.blurb-bg2 {
  background-color: #fff;
  }

.break-strip{
  background-color: black;
  width: 100%;
  margin:auto;
  padding: 1vw 0;
}

.blurb {
  width: 80%;
  margin:auto;
  padding: 5vw 0;
  position: relative;
  text-align: center;
  line-height: 1.6;
}

.body-text-bold2 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

/*IMAGE TRIO*/
  * {
  box-sizing: border-box;
}

* {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}
  .backg-top {
  padding: 5vw;
  background-size: cover;
  background-position: top;
  background-image: url(img/backg.jpg);
}

  div{
  display: block;
}

  :after, :before {
    box-sizing: border-box;
  }

  .three .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5vw;
  }

  .full {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .full img {
    width: 100%
  }

img {
  vertical-align: middle;
}

img {
  border: 0;
}

img {
  max-width: 100%;
  height auto;
}

  .img-hover:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: red;
}

  .link-button {
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: #fff;
  text-align: center;
  margin-top: 3vw;
  border: 2px solid #000;
  display: inline-block;
  min-width: 160px;
  line-height: 17.1428px;
  margin-top: 17.85px;
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .25s;
  }

  .link-button-underimage {
  font-family: 'Raleway', sans-serif;
  color: #000;
  background-color: #fff;
  text-align: center;
  margin-top: 3vw;
  border: 2px solid #000;
  display: inline-block;
  min-width: 160px;
  line-height: 17.1428px;
  margin-top: 17.85px;
  margin-left: 25%;
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .25s;
  }

  .link-button:hover {
    color: red
  }

  @media screen and (max-width: 650px) {
    .three .grid {
      width: 100%;
      display: block;
    }
  }


/*SPOTIFY*/
  .two {
    padding: 5vw;
  }

  .two .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5vw;
  }

  .size-l {
    width: 80vw;
    margin: auto;
    }

  p {
    letter-spacing: 2px;
    padding: 1em 0 2em 0em;
    color: #000;
    max-width: 95%;
    margin: auto;
    display: block;
    font-family: 'Raleway', sans-serif;
    }

  .two .link-button {
    margin-top: initial;
    }

  h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


/*THE LESSONS PAGE*/
.collapsible {
  background-image: url(img/backg.jpg);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.body-text-bold-white{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.active, .collapsible:hover {
  background-color: #555;
}

.the-lessons-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
}



/*FASHION PAGE*/
.middle-container {
text-align: center;
}

.middle-container .top{
padding: 3% 0%;
background-color: #fff;
}

.middle-container .top h2{
margin-top: 0;
}

.middle-container h2{
 font-family: 'Raleway', sans-serif;
 font-size: 2em;
 color: #222;
}

.middle-container .row {
 margin-left: 0;
 margin-right: 0;
 width: 100%;
}

.row {
 letter-spacing: -.31em;
}

.row:after, .row:before {
 content: " ";
 display: table;
}

:after, :before {
    box-sizing: border-box;
}

.middle-container .column.three {
    float: left;
    width: 33%;
    padding: 10px;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 650px) {
  .middle-container .column.three {
    width: 100%;
    display: block;
  }
}

.middle-container .section-head {
 font-family: 'Raleway', sans-serif;
 font-size: 20px;
 color: #222;
 margin-top: 15px;
 display: block;
 text-transform: uppercase;
}

.section-copy {
 display: inline-block;
 margin: 15px 10px;
 color: #000;
 padding: 0 14px;
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
}

.section-copy-bold{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
    font-size: 15px;
}


.fashion-button {
  font-family: 'Raleway', sans-serif;
}

.fashion-button:hover {
  color: red;
}

ul {
  list-style-type: none;
}



/*CONTACT PAGE*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/*THE GAME PAGE*/
.middle-container-game {
  text-align: center;
}

.middle-container-game .top {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
}

.middle-container-game h2{
 font-family: 'Raleway', sans-serif;
 font-size: 2em;
 color: #222;
}

.middle-container-game .row {
 margin-left: 0;
 margin-right: 0;
 width: 100%;
}

.row {
 letter-spacing: -.31em;
}

.row:after, .row:before {
 content: " ";
 display: table;
}

:after, :before {
 box-sizing: border-box;
}

.middle-container-game .column.three {
 float: left;
 width: 33%;
 padding: 10px;
 height: 100%;
}

.middle-container-game .section-head {
 font-family: 'Raleway', sans-serif;
 font-size: 1.8vw;
 color: #222;
 margin-top: 15px;
 display: block;
 text-transform: uppercase;
}

.pacman-column {
  align-items: center;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.section-copy-game {
 display: inline-block;
 margin: 15px 10px;
 color: #000;
 padding: 0 14px;
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 line-height: 1.6;
}


/*MEET THE TEAM*/
.column {
  float: left;
  width: 27%;
  margin: 20px 34px;
  padding: 10px 5px;
  float: left;
  line-height: 1.6;
  padding-bottom: 5px;

}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.meet-the-team {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
  }


/*FOOTER*/
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #E81713;
  color: black;
}

.navbar a.active {
  background-color: #E81713;
  color: white;
}

.navbar .icon {
  display: none;
}

.social-links {
  vertical-align: middle;
  display: flex !important;
  margin: 0;
  width: 50%;
}


.list-inline {
  padding-top: 8px;
  padding-left: 0px;
  list-style: none;
  margin-left: -5px;
}

.text-center{
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  @media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
